.button{
	-fx-background-radius: 0;
}

.add_btn{
	-fx-text-fill:  #d1d1d1;
	-fx-background-color: transparent;
}

.add_btn:hover{
	-fx-text-fill: #a1a1a1;
}

.add_btn:pressed{
	-fx-text-fill:  #717171;
}

